.best-year-rating{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;

}
.searcher{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 20px;
    align-items: center;
}

.searcher select{
    /* width: 20%; */
    height: 30px;
    font-size: 15px;
    padding: 5px;
    margin: 5px;
    background-color: #dbdbdb;
}



.best-year-rating .top {
    /* text-align: center; */
    color: #131c38;
    font-size: 25px;
    margin-left: 20px;

}

.best-year-rating .film-details{
    display: block;
    padding: 15px;
    background-color: #ededed;
}