.film-details {
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px;
  }
  
.film-list{
  display: flex;
  flex-direction: column;
  gap: 20px; /* Espacio entre cada película */
}

h1 {
  margin-top: 10;
  color : #131c38;
  }

.error_msg {
  /* align-items: center; */
  justify-content: center;
  margin: 20px auto;
  padding: 20px;
  max-width: 100%;
}

.error_msg h1 h3 {
  font-size: 30px;
  text-align: center;
  color: #131c38;
  align-items: center;
}

.error_msg h3{
  font-size: 20px;
  padding: 0px;
  text-align: center;
}


/* FILTERS */

.filters h2{
  /* Alineamos */
  text-align: center;
  color: #dbdada;
}

.filters {
width: 500px; /* Ancho de la columna lateral */
padding: 20px;
/* Letter color to white */
color: #fff;
background-color: #131c38;
border-radius: 5px;
}


.filters label {
display: block;
margin-bottom: 5px;
padding-top: 10px;
font-weight: bold;
}

.range-filters{
  align-items: center;
}

.genre-dropdown {
position: 'absolute';
top: '100%';
left: 0;  
z-index: 1;
background-color: '#fff';
border: '1px solid #ccc';
border-radius: '4px';
box-shadow: '0 2px 4px rgba(0,0,0,0.1)';
padding: '5px';
max-height: '150px';
overflow-y: 'auto';
min-width: '150px' }
  

.filters .apply-filters{
  background-color: #dbdada;
  /* centrado */
  width: 75%;
  display: block;
  margin: 20px auto;
  color: #131c38;
  font-weight: bold;
  font-size: 15px;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.filters .apply-filters:hover{
  background-color: #787878;
  color: #ffffff;

}

.user-button{
  margin-top: 20px;
  margin-left: 0px;
}

.user-button:hover{
  margin-top: 20px;
  margin-left: 0px;
  background-color: #f59696;
  color: #ffffff;
}