.form-container {

  /* Ordenamos en columnas */
  /* display: flex; */
  max-width: 60%;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 0.2px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-cont h1 {  
  color: #02172c;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.login-cont{
  /* width: 65%; */
  margin: 0 auto;
  padding: 20px;
  color: #02172c;

}