.rating{
    display : flex;
    justify-content : center;
    align-items : center;
    margin-top : 10px;
    margin-bottom : 10px;

}

.rating .film{
    display: block;
    padding: 10px;
    margin-right: 10px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    
    background-color: rgb(12, 12, 43);
}

.rating .film h1{
    margin: 10px;
    padding: 10px;
}