.registration-cont {

  /* Ordenamos en columnas */
  /* display: flex; */
  max-width: 60%;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 0.2px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.registration-cont h2 {  
  color: #02172c;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.registration-cont{
  /* width: 65%; */
  margin: 0 auto;
  padding: 20px;
  color: #02172c;

}

form{
  /* width: 65%; */
  margin: 0 auto;
}


.form-control {
    margin-bottom: 15px;
  }
  
.form-control label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-control input[type="text"],
.form-control input[type="password"],
.form-control input[type="email"] {
  width: calc(100% - 16px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.form-control textarea {
  width: calc(100% - 16px);
  height: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.error {
  border: 1px solid red; /* Set border color to red */
}

.ErrorMessage {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}
